:root{
    --color1: #515151;
    --color2: orange;
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;

}
body{
    width: 100vw;
    background-color: var(--color1);
    font-size: 2rem;
    color: white;
    background-image: url("../recursos/img/background-720.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: black;
    box-shadow: 0px 4px 12px  var(--color2);
    padding: 4px 8px;
}

#logoHeader{
    margin-right: 2px;
}

#content{
    padding-top: 100px;
    padding-right: 8px;

    background-color:#515151b4;
    width: 100%;
    height: 100vh;
    text-align: end;
}

.article{
    display: grid;
    justify-content: center;
}

#iniciarSesion{
    background-color: rgba(0, 0, 0, 0.699);
    height: 400px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 4px var(--color2);
    padding: 16px;
    text-align: start;
    position: relative;
}

#iniciarSesion h3{
    text-align: center;
    border-bottom: 1px solid var(--color2);
    height: 40px;
}

#iniciarSesion img{
    position: absolute;
    top: -20px;
    right: -20px;
    height: 40px;
    width: 40px;
}

#formulario{
    font-size: 1.6rem;
    display: grid;
    justify-content: space-evenly;
    margin-top: 20px;
} 
#formulario input{
    margin-bottom: 20px;
    padding-left: 2px;
}

#button{
    margin: 0 auto;
    margin-top: 36px;
    width: 150px;
    background-color: black;
    border: 1px solid white;
    color: white;
    height: 28px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px var(--color2);
    
}

#footer{
    position: absolute;
    bottom: 0;
    padding-left: 4px;
    font-size: 1.5rem;
}